*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pub-main-box{
    padding: 50px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0465a0;
    color: white;
    box-shadow: 2px 2px 5px #0465a0;
    height: 80px;
    width: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}
ul li{
    font-size: 1.5rem;
}